@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
  --header-background: #ffffff;
  --font-roboto-sans: "Roboto", sans-serif;
  --font-roboto-mono: "Roboto Mono", monospace;
  --light-green: #7dce94;
}

@theme inline {
  --font-sans: var(--font-roboto-sans);
  --font-mono: var(--font-roboto-mono);
  --color-header-background: var(--header-background);
  --color-light-green: var(--light-green);
  --color-cp-primary: #ffffff;
  --color-cp-secondary: var(--light-green);
  --color-cp-tertiary: #000000;
}

@media (prefers-color-scheme: dark) {
}

html {
  scroll-behavior: smooth;
}

.open-backdrop {
  opacity: 1;
  z-index: 90;
}

.open-modal {
  transform: translateY(0);
  z-index: 100;
}

.close-backdrop {
  opacity: 0;
  z-index: -20;
}

.close-modal {
  transform: translateY(-1000px);
  z-index: -30;
}
